@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --fonte-titulo: "Italianno", cursive;
    --cor-branca: #FFFFFF;
    --fonte-texto: "Istok Web", sans-serif;
}